@{
    ViewData["Title"] = "Index";
}
@model List<ProductViewModel>

<body style="background-color:antiquewhite">
    <div class="row pt-3 pb-3" style="background-color:#FFFFFF; border-radius: 50px;">
        <div class="col-md-12">
            <div class="card" style="border-top-left-radius: 50px; border-top-right-radius: 50px;">
                <div class="row">
                    <div class="col text-center py-5">
                        <h1 class="text-secondary text-uppercase font-italic common-title">Products</h1>
                    </div>
                    <a asp-controller="Products" asp-action="Create" class="btn btn-primary mb-3 ml-5" style="width: 1050px;">Create Product</a>
                </div>
                @if (Model.Any())
                {
                    <div>
                        <table class="table table-striped" style="border-radius: 50px;">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Name</th>
                                    <th>Price</th>
                                    <th>Description</th>
                                    <th>Category</th>
                                    <th>Author</th>
                                    <th>ISBN</th>
                                    <th>Published Date</th>
                                    <th>Picture</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var product in Model)
                                {
                                    <tr>
                                        <td>@product.Id</td>
                                        <td>@product.Name</td>
                                        <td>@product.Price</td>
                                        <td>@product.ShortDescription</td>
                                        <td>@product.Category.Name</td>
                                        <td>@product.Feature.Author</td>
                                        <td>@product.Feature.ISBN</td>
                                        <td>
                                            @if (@product.Feature.PublishedDate.Value.ToShortDateString() != "1 Oca 0001")
                                            {
                                                @product.Feature.PublishedDate.Value.ToShortDateString()
                                            }
                                        </td>
                                        <td>
                                            <img class="img-thumbnail" src="@product.StockPictureUrl" alt="@product.Name" style="width: 100px; height: 100px;" />
                                        </td>
                                        <td>
                                            <a asp-controller="Products" asp-action="Update" asp-route-id="@product.Id" class="btn btn-primary">Update</a>
                                            <button type="button" class="btn btn-danger center mt-3 ml-3" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="bi bi-trash-fill"></i></button>
                                            <!-- Modal -->
                                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h1 class="modal-title fs-5" id="exampleModalLabel">Product will be deleted!</h1>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <p>Are you sure you want to delete the product?</p>
                                                            <p>This action cannot be undone!</p>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                                            <a asp-controller="Products" asp-action="Delete" asp-route-id="@product.Id" class="btn btn-danger">Delete</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Modal End -->
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }
                else
                {
                    <div class="alert alert-info">
                        Product not found
                    </div>
                }
            </div>
        </div>
    </div>
</body>