
@{
    ViewData["Title"] = "Index";
}

<body id="page-top" style="background-color:antiquewhite">
    <!-- Page Wrapper -->
    <div id="wrapper">
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column p-5" style="background-color:#FFFFFF; border-radius: 50px;">
            <!-- Main Content -->
            <div id="content">

                <!-- Begin Page Content -->
                <div class="container-fluid" id="PrintDiv">
                    
                    <!-- Page Heading -->
                    <div class="row d-print-none">
                        <div class="col text-center py-5">
                            <h1 class="text-secondary text-uppercase font-italic common-title">Dashboard</h1>
                        </div>
                    </div>
                    <a onclick="printDiv('PrintDiv')" href="#" class="corner-link d-sm-inline-block btn btn-sm btn-primary shadow-sm d-print-none">
                        <i class="fas fa-download fa-sm text-white-50"></i> Generate Report
                    </a>
                    <style>
                        .container-fluid {
                            position: relative;
                        }
                        .corner-link {
                            position: absolute;
                            top: 0;
                            right: 0;
                            margin: 10px;
                        }
                    </style>

                    <!-- Content Row -->
                    <div class="row">

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                Earnings (Monthly)
                                            </div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">₺@ViewBag.MonthlyEarning</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Earnings (Annual) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                Earnings (Annual)
                                            </div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">₺@ViewBag.AnnualEarning</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <!-- Orders (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-info shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                                Orders (Monthly)
                                            </div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.MonthlyOrders</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <!-- Orders (Annual) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-warning shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                                Orders (Annual)
                                            </div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.AnnualOrders</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <!-- Members (Total) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-warning shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                                Members (Total)
                                            </div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.NumberOfMembers</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="bi bi-people-fill fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <!-- Products Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-info shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                                Products
                                            </div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.NumberOfProducts</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fab fa-sketch fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <!-- Categories Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                Categories
                                            </div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.NumberOfCategories</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="bi bi-list fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <!-- Most Popular Product Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                Most Popular Product (Annual)
                                            </div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.MostPopularProductAnnual</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="bi bi-hand-thumbs-up-fill fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <!-- Content Row -->
                    <div class="row">   
                        
                        <!-- Pie Chart -->
                        <div class="col-xl-12 col-lg-5">
                            <div class="card shadow mb-4">
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div id="SalesOfProductsChart" style="height: 370px; width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                        
                        <!-- Column Chart -->
                        <div class="col-xl-12 col-lg-5">
                            <div class="card shadow mb-4">
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div id="NumberOfOrdersChart" style="height: 370px; width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                        
                        <!-- Line Chart -->
                        <div class="col-xl-12 col-lg-5">
                            <div class="card shadow mb-4">
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div id="TotalOrderAmountsChart" style="height: 370px; width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                        
                    </div>

                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- End of Main Content -->
        </div>
        <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->

    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <script src="https://cdn.canvasjs.com/canvasjs.min.js"></script>
    <script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>

</body>

<script>
    function printDiv(divName) {
        window.print();
    }

    window.onload = function () {

        var SalesOfProductsChart = new CanvasJS.Chart("SalesOfProductsChart", {
            animationEnabled: true,
            theme: "light2", // "light1", "dark1", "dark2"
            exportEnabled: true,
            title: {
                text: "Sales of Products"
            },
            data: [{
                type: "pie",
                dataPoints: @Html.Raw(ViewBag.SalesOfProductsChart)
            }]
        });
        SalesOfProductsChart.render();

        var NumberOfOrdersChart = new CanvasJS.Chart("NumberOfOrdersChart", {
            animationEnabled: true,
            theme: "light2", // "light1", "dark1", "dark2"
            exportEnabled: true,
            title: {
                text: "Number Of Orders"
            },
            data: [{
                type: "column",
                dataPoints: @Html.Raw(ViewBag.NumberOfOrdersChart)
                }]
        });
        NumberOfOrdersChart.render();
        
        var TotalOrderAmountsChart = new CanvasJS.Chart("TotalOrderAmountsChart", {
            animationEnabled: true,
            theme: "light2", // "light1", "dark1", "dark2"
            exportEnabled: true,
            title: {
                text: "Total Order Amounts"
            },
            data: [{
                type: "line",
                dataPoints: @Html.Raw(ViewBag.TotalOrderAmountsChart)
                }]
        });
        TotalOrderAmountsChart.render();
    }
</script>