
@{
    ViewData["Title"] = "AllUsers";
}
@model List<UserViewModel>

<body style="background-color:antiquewhite">
    <div class="row pt-3 pb-3" style="background-color:#FFFFFF; border-radius: 50px;">
        <div class="col-md-12">
            <div class="card" style="border-top-left-radius: 50px; border-top-right-radius: 50px;">
                <div class="card-header" style="border-top-left-radius: 50px; border-top-right-radius: 50px;">
                    <h4 class="card-title">Members</h4>
                </div>
                @if (Model.Any())
                {
                    <div>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>UserName</th>
                                    <th>Email</th>
                                    <th>City</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var user in Model)
                                {
                                    <tr>
                                        <td>@user.Id</td>
                                        <td>@user.UserName</td>
                                        <td>@user.Email</td>
                                        <td>@user.City</td>
                                        <td>
                                            <a asp-controller="User" asp-action="Update" asp-route-id="@user.Id" class="btn btn-primary">Update</a>
                                            <button type="button" class="btn btn-danger center ml-3" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="bi bi-trash-fill"></i></button>
                                            <!-- Modal -->
                                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h1 class="modal-title fs-5" id="exampleModalLabel">User will be deleted!</h1>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <p>Are you sure you want to delete the user?</p>
                                                            <p>This action cannot be undone!</p>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                                            <a asp-controller="User" asp-action="Delete" asp-route-id="@user.Id" class="btn btn-danger">Delete User</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Modal End -->
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }
                else
                {
                    <div class="alert alert-info">
                        Product not found
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="p-5 m-5"></div>
</body>