@{
    ViewData["Title"] = "Index";
}
@model PaginatedList<CategoryViewModel>

<body style="background-color:antiquewhite">
    <div class="row pt-3 pb-3" style="background-color:#FFFFFF; border-radius: 50px;">
        <div class="col-md-12">
            <div>
                <div class="row">
                    <div class="col text-center py-5">
                        <h1 class="text-secondary text-uppercase font-italic common-title">Categories</h1>
                    </div>
                    <a asp-controller="Categories" asp-action="Create" class="btn btn-primary mb-3 ml-5" style="width: 1050px; border-radius: 20px;">Create Category</a>
                    <div class="form-group">
                        <input type="text" class="search form-control" style="border-radius: 20px;" placeholder="What are you looking for?">
                    </div>
                </div>
                @if (Model.Any())
                {
                    <div>
                        <table class="table table-striped results" style="border-radius: 50px;">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Name</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var category in Model)
                                {
                                    <tr>
                                        <td>@category.Id</td>
                                        <td>@category.Name</td>
                                        <td style="display: flex; gap: 10px;">
                                            <a asp-controller="Categories" asp-action="Update" asp-route-id="@category.Id" class="btn btn-info rounded-circle custom-btn"><i class="bi bi-gear"></i></a>
                                            <a asp-controller="Categories" asp-action="Delete" asp-route-id="@category.Id" class="btn btn-danger rounded-circle custom-btn"
                                               onclick="return confirmDelete('@category.Id')"><i class="bi bi-trash"></i></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-center">
                                @if (Model.HasPreviousPage)
                                {
                                    <li class="page-item">
                                        <a class="page-link" asp-action="Index" asp-route-pageNumber="@(Model.PageIndex - 1)">Previous</a>
                                    </li>
                                }
                                else
                                {
                                    <li class="page-item disabled">
                                        <a class="page-link" href="#">Previous</a>
                                    </li>
                                }

                                @for (int i = 1; i <= Model.TotalPages; i++)
                                {
                                    <li class="page-item @(Model.PageIndex == i ? "active" : "")">
                                        <a class="page-link" asp-action="Index" asp-route-pageNumber="@i">@i</a>
                                    </li>
                                }

                                @if (Model.HasNextPage)
                                {
                                    <li class="page-item">
                                        <a class="page-link" asp-action="Index" asp-route-pageNumber="@(Model.PageIndex + 1)">Next</a>
                                    </li>
                                }
                                else
                                {
                                    <li class="page-item disabled">
                                        <a class="page-link" href="#">Next</a>
                                    </li>
                                }
                            </ul>
                        </nav>
                    </div>
                }
                else
                {
                    <div class="alert alert-info">
                        Category not found
                    </div>
                }
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript">
        function confirmDelete(categoryId) {
            return confirm("Are you sure you want to delete the category with ID " + categoryId + "?");
        }
        $(document).ready(function () {
            $(".search").keyup(function () {
                var searchTerm = $(".search").val();
                var listItem = $('.results tbody').children('tr');
                var searchSplit = searchTerm.replace(/ /g, "'):containsi('")

                $.extend($.expr[':'], {
                    'containsi': function (elem, i, match, array) {
                        return (elem.textContent || elem.innerText || '').toLowerCase().indexOf((match[3] || "").toLowerCase()) >= 0;
                    }
                });

                $(".results tbody tr").not(":containsi('" + searchSplit + "')").each(function (e) {
                    $(this).attr('visible', 'false');
                });

                $(".results tbody tr:containsi('" + searchSplit + "')").each(function (e) {
                    $(this).attr('visible', 'true');
                });

                var jobCount = $('.results tbody tr[visible="true"]').length;
                $('.counter').text(jobCount + ' item');

                if (jobCount == '0') { $('.no-result').show(); }
                else { $('.no-result').hide(); }
            });
        });
    </script>
</body>