@{
    ViewData["Title"] = "Index";
}
@model PaginatedList<CategoryViewModel>

<body style="background-color:antiquewhite">
    <div>
        <div class="row pt-3 pb-3" style="background-color:#FFFFFF; border-radius: 50px">
            <div class="col-md-12">
                <div class="row">
                    <div class="col text-center py-5">
                        <h1 class="text-secondary text-uppercase font-italic common-title">Categories</h1>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <a asp-controller="Categories" asp-action="Create" class="btn btn-primary mb-3" style="width: 100%; border-radius: 20px;">Create Category</a>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <form method="get" asp-controller="Categories" asp-action="Index" class="form-inline my-2 my-lg-0 w-100">
                            <input type="text" name="searchQuery" class="form-control mr-sm-2 w-75" style="border-radius: 20px;" placeholder="What are you looking for?" value="@ViewData["CurrentFilter"]">
                            <button type="submit" class="btn btn-secondary w-25" style="border-radius: 20px;"><i class="bi bi-search"></i></button>
                        </form>
                    </div>
                </div>

                <style>
                    .form-inline {
                        display: flex;
                        width: 100%;
                    }

                        .form-inline .form-control {
                            flex: 1;
                            margin-right: 10px;
                        }

                        .form-inline .btn {
                            flex: 0;
                        }
                </style>

                @if (Model.Any())
                {
                    <div>
                        <table class="table table-striped results" style="border-radius: 50px; width: 100%;">
                            <thead>
                                <tr>
                                    <th>
                                        <a asp-action="Index" asp-route-sortOrder="@ViewData["IdSortParm"]" class="text-dark">Id                                            
                                            @if (ViewData["CurrentSort"]?.ToString() == "id_desc")
                                            {
                                                <span>&#9660;</span>
                                            }
                                            else if (ViewData["CurrentSort"]?.ToString() == "Id")
                                            {
                                                <span>&#9650;</span>
                                            }
                                            else
                                            {
                                                <span>&#8597;</span>
                                            }
                                        </a>
                                    </th>
                                    <th class="text-dark">Name</th>
                                    <th class="text-dark">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var category in Model)
                                {
                                    <tr>
                                        <td>@category.Id</td>
                                        <td>@category.Name</td>
                                        <td style="display: flex; gap: 10px;">
                                            <a asp-controller="Categories" asp-action="Update" asp-route-id="@category.Id" class="btn btn-info rounded-circle custom-btn"><i class="bi bi-gear"></i></a>
                                            <a asp-controller="Categories" asp-action="Delete" asp-route-id="@category.Id" class="btn btn-danger rounded-circle custom-btn"
                                               onclick="return confirmDelete('@category.Id')"><i class="bi bi-trash"></i></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-center">
                                @if (Model.HasPreviousPage)
                                {
                                    <li class="page-item">
                                        <a class="page-link" asp-action="Index" asp-route-searchQuery="@ViewData["CurrentFilter"]" asp-route-pageNumber="@(Model.PageIndex - 1)" asp-route-sortOrder="@ViewData["CurrentSort"]">Previous</a>
                                    </li>
                                }
                                else
                                {
                                    <li class="page-item disabled">
                                        <a class="page-link" href="#">Previous</a>
                                    </li>
                                }

                                @for (int i = 1; i <= Model.TotalPages; i++)
                                {
                                    <li class="page-item @(Model.PageIndex == i ? "active" : "")">
                                        <a class="page-link" asp-action="Index" asp-route-searchQuery="@ViewData["CurrentFilter"]" asp-route-pageNumber="@i" asp-route-sortOrder="@ViewData["CurrentSort"]">@i</a>
                                    </li>
                                }

                                @if (Model.HasNextPage)
                                {
                                    <li class="page-item">
                                        <a class="page-link" asp-action="Index" asp-route-searchQuery="@ViewData["CurrentFilter"]" asp-route-pageNumber="@(Model.PageIndex + 1)" asp-route-sortOrder="@ViewData["CurrentSort"]">Next</a>
                                    </li>
                                }
                                else
                                {
                                    <li class="page-item disabled">
                                        <a class="page-link" href="#">Next</a>
                                    </li>
                                }
                            </ul>
                        </nav>
                    </div>
                }
                else
                {
                    <div class="alert alert-info">
                        Product not found
                    </div>
                }
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript">
        function confirmDelete(categoryId) {
            return confirm("Are you sure you want to delete the category with ID " + categoryId + "?");
        }
    </script>
</body>